<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.d.tradeserver.mapper.manager.SchoolMapper">

    <resultMap id="map" type="school">
        <id property="id" column="pk_id"/>
        <result property="name" column="name"/>
        <result property="createDateTime" column="create_time"/>
        <result property="updateDateTime" column="update_time"/>
    </resultMap>

    <sql id="allColumns">
        `pk_id`, `name`, `create_time`, `update_time`
    </sql>

    <select id="selectById" resultMap="map">
        SELECT <include refid="allColumns"/>
        FROM trade_server_db.school
        WHERE `pk_id` = #{id}
    </select>
    <select id="selectByKeyword" resultMap="map">
        SELECT <include refid="allColumns"/>
        FROM trade_server_db.school
        WHERE `name` like CONCAT('%', #{keyword}, '%')
    </select>
</mapper>